/**
 * @name midnight (catppuccin mocha)
 * @description a dark, customizable discord theme. based on catppuccin mocha theme (https://catppuccin.com).
 * @author refact0r
 * @version 2.1.1
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/flavors/midnight-catppuccin-mocha.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/
/* modify version of the original */


/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');
@import url("https://raw.githubusercontent.com/CeaAPI/vencord-snippets/main/CompactSidebarButtons/CompactSidebarButtons.css");
@import url("https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/BubbleUsernames/import.css");
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url("https://aushevahmad.github.io/awesome-css/modules/compressbotmsgs.css");


.container__37e49 .panelSubtextContainer__37e49 {
    display: none;
}

.buttonContainer_e6e74f.app-launcher-entrypoint {
    display: none;
}

#app-mount > div.appAsidePanelWrapper_a3002d > div > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content__5e434 > div.page__5e434 > div > div > div.content_f75fb0 > main > form > div:nth-child(1) > div > div > div.scrollableContainer__74017.themedBackground__74017 > div > div.buttons__74017 > div.button__74017.button__24af7{
    display: none;
}

#app-mount > div.appAsidePanelWrapper_a3002d > div > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.bar_c38106.theme-dark.theme-darker.images-dark > div.trailing_c38106 > div.clickable__81391{
    display: none;
}

.search__49676 {
    width: 360px;
}

.searchBar_c322aa {
    width: 400px;
}

#vc-spotify-player {
    --blur-amount: 4px; 
    --normal-bg-colour: var(--bg-overlay-floating, var(--background-base-low, var(--background-secondary-alt)));

    position: relative;
    background: linear-gradient(to bottom, transparent 0%, var(--normal-bg-colour) 100%) !important;
    overflow: hidden;
    transition: all 0.4s ease-out;
    > * {
      filter: drop-shadow(0 0 10px var(--normal-bg-colour));
    }
}
#vc-spotify-player:hover {
    --blur-amount: 0px;
}
#vc-spotify-player::before,
#vc-spotify-player::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
}
#vc-spotify-player::before {
    background: var(--vc-spotify-track-image);
    background-position: center top; 
    background-size: cover; 
    opacity: 0.5;
}
#vc-spotify-player:hover::before {
    opacity: 0.7;
}
#vc-spotify-player::after {
    backdrop-filter: blur(var(--blur-amount));
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"] {
    background-color: white !important;
    background: var(--vc-spotify-track-image);
    background-size: 1px 100%;
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"]::before {
    content: "";
    position: fixed;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    border-radius: 4px 0 0 4px;
    backdrop-filter: blur(10px) saturate(4) brightness(1.6);
}

[class^="headerText"] {
  display: inline-flex;
}

[class^="headerText"] > span:has([class^="roleIcon"]) {
  order: 2;
}

[class^="headerText"] > span:has([class^="chipletContainerInner"])  {
  order: 3;
}

[class^="headerText"] > span:is([class^="username"]) {
  order: 1;
}

[class^="headerText"] > span[style="display: none;"] {
  order: 4;
}

[class^="headerText"] > .vc-message-decorations-wrapper {
  order: 5;
}

[class^="headerText"] > span:has(> [class^="newMemberBadge"]) {
  order: 6;
}

[class^="headerText"] > span:is([class^="botTag"]) {
  order: 7;
}

/* Sidebar cat */
.user-profile-sidebar::after {
    /* DIscord's color setup */
    --profile-gradient-start:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-primary-color));
    --profile-gradient-end:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-secondary-color));
    /* The cat */
    content: 
   "  ╱|、   \a"
 "  (˚ˎ 。7  \a"
  "  |、˜〵\  \a"
"    じしˍ,)ノ";

    white-space: pre;
    inset: 0;
    padding: 20px;
    color: white;
    /* Also discords */
    background: linear-gradient(var(--profile-gradient-start), var(--profile-gradient-start) var(--custom-user-profile-banner-height), var(--profile-gradient-end));
    text-align: center;
    font-size: 150%;
}
/* End sidebar cat */

time[datetime]:hover::after {
  content: "("attr(datetime)")";
  width: max-content;
  position: absolute;
  z-index: 9999;
  backdrop-filter: blur(4px);
  padding: 0 4px;
  border-radius: 6px;
}

[class^=buttonContainer] > [class^=buttons] {
    > [class^=buttonsInner] {
        border: unset;
        padding: unset;
        box-shadow: var(--shadow-low) !important;
        background-color: var(--background-base-low);
        border-radius: 4px;
        > [class^=separator] { display: none; }
        > span {
            > [class^=hoverBarButton] {
                padding: unset;
                height: 32px;
                width: 32px;
                border-radius: unset;
                &:hover > [class^=icon] { transform: unset; }
            }
            &:has(~ [class^=separator]) { display: none; }
            &:first-of-type ,[class^=separator] + & {
                > [class^=hoverBarButton] {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
            &:nth-last-of-type(2) > [class^=hoverBarButton] {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}

/* hide menus next to mute and deafen buttons */
div[class^=micButtonParent__] {
  button[role="switch"] {
    border-radius: var(--radius-sm) !important;
    
    ~ button {
      display: none;
    }
  }
}

body {
    /* font, change to '' for default discord font */
    --font: 'figtree'; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 400 /* normal text font weight. DOES NOT AFFECT BOLD TEXT */;

    /* sizes */
    --gap: 8px; /* spacing between panels */
    --divider-thickness: 2px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: hide; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: image; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url('https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png'); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--bg-3); /* text on colored elements */
    --text-1: hsl(226, 64%, 95%); /* other normally white text */
    --text-2: #ebeef5; /* headings and important text */
    --text-3: #ebeef5; /* normal text */
    --text-4: #939ab7; /* icon buttons and channels */
    --text-5: #585b70; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #45475a; /* dark buttons when clicked */
    --bg-2: #313244; /* dark buttons */
    --bg-3: #1e2030; /* spacing, secondary elements */
    --bg-4: #181926; /* main background color */
    --hover: hsla(235, 15%, 53%, 0.3); /* channels and buttons when hovered */
    --active: hsla(235, 15%, 53%, 0); /* channels and buttons when clicked or selected */
    --active-2: hsla(235, 15%, 53%, 0.4); /* extra state for transparent buttons */
    --message-hover: hsla(235, 0%, 0%, 0.2); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--purple-1); /* links and other accent text */
    --accent-2: var(--purple-2); /* small accent elements */
    --accent-3: var(--purple-3); /* accent buttons */
    --accent-4: var(--purple-4); /* accent buttons when hovered */
    --accent-5: var(--purple-5); /* accent buttons when clicked */
    --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-2); /* change to #43a25a for default */
    --dnd: var(--red-2); /* change to #d83a42 for default */
    --idle: var(--yellow-2); /* change to #ca9654 for default */
    --streaming: var(--purple-2); /* change to #593695 for default */
    --offline: var(--text-4); /* change to #83838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: var(--active); /* border color of panels when hovered */
    --button-border: hsl(235, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: hsl(343deg, 81%, 80%);
    --red-2: hsl(343deg, 81%, 75%);
    --red-3: hsl(343deg, 81%, 75%);
    --red-4: hsl(343deg, 81%, 70%);
    --red-5: hsl(343deg, 81%, 65%);

    --green-1: hsl(115deg, 54%, 81%);
    --green-2: hsl(115deg, 54%, 76%);
    --green-3: hsl(115deg, 54%, 76%);
    --green-4: hsl(115deg, 54%, 71%);
    --green-5: hsl(115deg, 54%, 66%);

    --blue-1: hsl(199deg, 76%, 74%);
    --blue-2: hsl(199deg, 76%, 69%);
    --blue-3: hsl(199deg, 76%, 69%);
    --blue-4: hsl(199deg, 76%, 64%);
    --blue-5: hsl(199deg, 76%, 59%);

    --yellow-1: hsl(41deg, 86%, 88%);
    --yellow-2: hsl(41deg, 86%, 83%);
    --yellow-3: hsl(41deg, 86%, 83%);
    --yellow-4: hsl(41deg, 86%, 78%);
    --yellow-5: hsl(41deg, 86%, 73%);

    --purple-1: hsl(267deg, 84%, 86%);
    --purple-2: hsl(343deg, 81%, 70%);
    --purple-3: hsl(267deg, 84%, 81%);
    --purple-4: hsl(267deg, 84%, 76%);
    --purple-5: hsl(267deg, 84%, 71%);
}

/*---===< CHANNEL SELECTOR FADE AND HIGHLIGHTED ICONS by Soul >===---*/
.containerDefault_c69b6d.selected_c69b6d .link__2ea32 {
  background: var(--chs-channel-selected);
  border-radius: 8px;
  margin-left: 5px;
}

.modeUnreadImportant__2ea32 .icon__2ea32,
.containerDefault_c69b6d.selected_c69b6d .icon__2ea32,
.containerDefault_c69b6d:hover .icon__2ea32 {
  color: var(--chs-icon-hover) !important;
}

/* channel spacing */
.wrapper__2ea32 {
  padding-block: var(--chs-channel-spacing);
}

/* channel size*/
.link__2ea32,
#channels>ul>li.container__5b40b>ul>li>div>div {
  padding-block: var(--chs-channel-size);
}

/* channel icon scale */
.iconContainer__2ea32>svg[role="img"] {
  scale: var(--chs-icon-scale);
}

/* shift category labels left*/
.wrapper__29444 {
  padding-left: 8px !important;
}

/* dim channel name when collapsed */
.mainContent__29444[aria-expanded="false"] {
  opacity: 50% !important;
}

[class^=powerupContainer] {
    display: flex;
    > :not([class^=parentContainer]) { display: none; }
}
